{% extends 'base.html' %}

{% block content %}
<!--<h3 style="color:wheat;" class="second"> The Sub breeds are:</h3>-->
<br>
<!--What particular {parent_name}-->

<div class="row" >
    {% for x in sub %}
    <h3><input type="hidden" name="breed" value="{{x.o}}"></h3>
    <div class="col-6" style="color:wheat;">
      <a style="text-decoration:none; color:wheat;" href="{% url 'specifics' name='Labrador retriever' %}"><h3 style=" padding-top:35px; margin-top:35px; cursor: pointer; background-color:rgba(0, 0, 0, 0.87); width:80%; height:70%; text-align: center;">{{x.0}}</h3></a>
    </div>
    <div class="col-6">
        <a href="{% url 'specifics' name='Labrador retriever' %}"><img src="{{x.1}}" style="width:40%; padding-top: 15px; cursor: pointer;" alt="Image"></a>
        <br>
    </div>
  

    {% endfor %}
    
</div>
{% endblock %}