{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-4">
        <i><h1 id="first" style="font-size:2em;">Please select a specific breed: </h1></i>

        <div class="form-group">
            <form action="#" method="post" style="color: burlywood;">
                {% csrf_token %}
                <select class="form-select bg-dark" style="color:wheat;" aria-label="Default select example" name="breed">
                <option selected value="{{fir.0}}">{{fir.0}}</option>
                {% for x in sub %}
                <option value="{{x.0}}">{{x.0}}</option>
                {% endfor %}
                </select>
                <br>
                <button class="button-18" role="button" type="submit">Woof!</button>
            </form>
        </div>
        
    </div>
    
    <div class="col-2"> <!--Just some separation--></div>

    <div class="col-6" id="image">
        <img src="{{fir.1}}" style="width: 60%;" alt="default">
    </div>
</div>
{% endblock %}